.current_files .file{
    display:inline-block;
    width:96px;
    min-height:96px;
    vertical-align:top;
    text-align:center;
    position:relative;
    margin:2px;
}

.current_files .file:hover{
    background-color:#FFE4B5;
}

.current_files .file .ficon{
    height:48px;
    background-position: 24px 0px;
        background-repeat: no-repeat;
}

.ficon{
    background-image:url('mimetypes/default.png');

}


.current_files .file a span{
    position:absolute;
    top:0px;
    left:0px;
    width:96px;
    height:100%;
}

#file_context_menu  li{
    width:200px;
}
