.ficon.application-7zip{background-image:url('mimetypes/application-7zip.png');}
.ficon.application-atom+xml{background-image:url('mimetypes/application-atom+xml.png');}
.ficon.application-illustrator{background-image:url('mimetypes/application-illustrator.png');}
.ficon.application-msword{background-image:url('mimetypes/application-msword.png');}
.ficon.application-octet-stream{background-image:url('mimetypes/application-octet-stream.png');}
.ficon.application-ogg{background-image:url('mimetypes/application-ogg.png');}
.ficon.application-pdf{background-image:url('mimetypes/application-pdf.png');}
.ficon.application-postscript{background-image:url('mimetypes/application-postscript.png');}
.ficon.application-rss+xml{background-image:url('mimetypes/application-rss+xml.png');}
.ficon.application-rtf{background-image:url('mimetypes/application-rtf.png');}
.ficon.application-vnd{background-image:url('mimetypes/application-vnd.png');}
.ficon.application-x-7z-compressed{background-image:url('mimetypes/application-x-7z-compressed.png');}
.ficon.application-x-ace{background-image:url('mimetypes/application-x-ace.png');}
.ficon.application-x-arj{background-image:url('mimetypes/application-x-arj.png');}
.ficon.application-x-bittorrent{background-image:url('mimetypes/application-x-bittorrent.png');}
.ficon.application-x-bzip-compressed-tar{background-image:url('mimetypes/application-x-bzip-compressed-tar.png');}
.ficon.application-x-bzip{background-image:url('mimetypes/application-x-bzip.png');}
.ficon.application-x-cd-image{background-image:url('mimetypes/application-x-cd-image.png');}
.ficon.application-x-class-file{background-image:url('mimetypes/application-x-class-file.png');}
.ficon.application-x-compressed-tar{background-image:url('mimetypes/application-x-compressed-tar.png');}
.ficon.application-x-compress{background-image:url('mimetypes/application-x-compress.png');}
.ficon.application-x-cpio{background-image:url('mimetypes/application-x-cpio.png');}
.ficon.application-x-csproj{background-image:url('mimetypes/application-x-csproj.png');}
.ficon.application-x-deb{background-image:url('mimetypes/application-x-deb.png');}
.ficon.application-x-desktop{background-image:url('mimetypes/application-x-desktop.png');}
.ficon.application-x-flash-video{background-image:url('mimetypes/application-x-flash-video.png');}
.ficon.application-x-gnome-theme-package{background-image:url('mimetypes/application-x-gnome-theme-package.png');}
.ficon.application-x-gnumeric{background-image:url('mimetypes/application-x-gnumeric.png');}
.ficon.application-x-gzip{background-image:url('mimetypes/application-x-gzip.png');}
.ficon.application-x-jar{background-image:url('mimetypes/application-x-jar.png');}
.ficon.application-x-java-archive{background-image:url('mimetypes/application-x-java-archive.png');}
.ficon.application-x-java{background-image:url('mimetypes/application-x-java.png');}
.ficon.application-x-javascript{background-image:url('mimetypes/application-x-javascript.png');}
.ficon.application-x-lha{background-image:url('mimetypes/application-x-lha.png');}
.ficon.application-x-lhz{background-image:url('mimetypes/application-x-lhz.png');}
.ficon.application-x-lzma-compressed-tar{background-image:url('mimetypes/application-x-lzma-compressed-tar.png');}
.ficon.application-x-lzma{background-image:url('mimetypes/application-x-lzma.png');}
.ficon.application-x-lzop{background-image:url('mimetypes/application-x-lzop.png');}
.ficon.application-x-m4{background-image:url('mimetypes/application-x-m4.png');}
.ficon.application-x-matroska{background-image:url('mimetypes/application-x-matroska.png');}
.ficon.application-xml{background-image:url('mimetypes/application-xml.png');}
.ficon.application-x-ole-storage{background-image:url('mimetypes/application-x-ole-storage.png');}
.ficon.application-x-perl{background-image:url('mimetypes/application-x-perl.png');}
.ficon.application-x-php{background-image:url('mimetypes/application-x-php.png');}
.ficon.application-x-python-bytecode{background-image:url('mimetypes/application-x-python-bytecode.png');}
.ficon.application-x-rar{background-image:url('mimetypes/application-x-rar.png');}
.ficon.application-x-rpm{background-image:url('mimetypes/application-x-rpm.png');}
.ficon.application-x-ruby{background-image:url('mimetypes/application-x-ruby.png');}
.ficon.application-x-shar{background-image:url('mimetypes/application-x-shar.png');}
.ficon.application-x-shellscript{background-image:url('mimetypes/application-x-shellscript.png');}
.ficon.application-x-shockwave-flash{background-image:url('mimetypes/application-x-shockwave-flash.png');}
.ficon.application-x-sln{background-image:url('mimetypes/application-x-sln.png');}
.ficon.application-x-sqlite2{background-image:url('mimetypes/application-x-sqlite2.png');}
.ficon.application-x-sqlite3{background-image:url('mimetypes/application-x-sqlite3.png');}
.ficon.application-x-stuffit{background-image:url('mimetypes/application-x-stuffit.png');}
.ficon.application-x-tar{background-image:url('mimetypes/application-x-tar.png');}
.ficon.application-x-theme{background-image:url('mimetypes/application-x-theme.png');}
.ficon.application-x-trash{background-image:url('mimetypes/application-x-trash.png');}
.ficon.application-x-zip{background-image:url('mimetypes/application-x-zip.png');}
.ficon.application-x-zoo{background-image:url('mimetypes/application-x-zoo.png');}
.ficon.application-zip{background-image:url('mimetypes/application-zip.png');}
.ficon.archive{background-image:url('mimetypes/archive.png');}
.ficon.ascii{background-image:url('mimetypes/ascii.png');}
.ficon.audio-mpeg{background-image:url('mimetypes/audio-mpeg.png');}
.ficon.audio-x-adpcm{background-image:url('mimetypes/audio-x-adpcm.png');}
.ficon.audio-x-flac+ogg{background-image:url('mimetypes/audio-x-flac+ogg.png');}
.ficon.audio-x-generic{background-image:url('mimetypes/audio-x-generic.png');}
.ficon.audio-x-mp3-playlist{background-image:url('mimetypes/audio-x-mp3-playlist.png');}
.ficon.audio-x-mpeg{background-image:url('mimetypes/audio-x-mpeg.png');}
.ficon.audio-x-mpegurl{background-image:url('mimetypes/audio-x-mpegurl.png');}
.ficon.audio-x-ms-wma{background-image:url('mimetypes/audio-x-ms-wma.png');}
.ficon.audio-x-scpls{background-image:url('mimetypes/audio-x-scpls.png');}
.ficon.audio-x-speex+ogg{background-image:url('mimetypes/audio-x-speex+ogg.png');}
.ficon.audio-x-vorbis+ogg{background-image:url('mimetypes/audio-x-vorbis+ogg.png');}
.ficon.audio-x-wav{background-image:url('mimetypes/audio-x-wav.png');}
.ficon.authors{background-image:url('mimetypes/authors.png');}
.ficon.contents2{background-image:url('mimetypes/contents2.png');}
.ficon.deb{background-image:url('mimetypes/deb.png');}
.ficon.default{background-image:url('mimetypes/default.png');}
.ficon.document{background-image:url('mimetypes/document.png');}
.ficon.empty{background-image:url('mimetypes/empty.png');}
.ficon.extension{background-image:url('mimetypes/extension.png');}
.ficon.folder_tar{background-image:url('mimetypes/folder_tar.png');}
.ficon.font_bitmap{background-image:url('mimetypes/font_bitmap.png');}
.ficon.font{background-image:url('mimetypes/font.png');}
.ficon.font_truetype{background-image:url('mimetypes/font_truetype.png');}
.ficon.font_type1{background-image:url('mimetypes/font_type1.png');}
.ficon.font-x-generic{background-image:url('mimetypes/font-x-generic.png');}
.ficon.gnome-fs-regular{background-image:url('mimetypes/gnome-fs-regular.png');}
.ficon.gnome-mime-application-atom+xml{background-image:url('mimetypes/gnome-mime-application-atom+xml.png');}
.ficon.gnome-mime-application-msword{background-image:url('mimetypes/gnome-mime-application-msword.png');}
.ficon.gnome-mime-application-ogg{background-image:url('mimetypes/gnome-mime-application-ogg.png');}
.ficon.gnome-mime-application-pdf{background-image:url('mimetypes/gnome-mime-application-pdf.png');}
.ficon.gnome-mime-application-postscript{background-image:url('mimetypes/gnome-mime-application-postscript.png');}
.ficon.gnome-mime-application-rss+xml{background-image:url('mimetypes/gnome-mime-application-rss+xml.png');}
.ficon.gnome-mime-application-rtf{background-image:url('mimetypes/gnome-mime-application-rtf.png');}
.ficon.gnome-mime-application-vnd{background-image:url('mimetypes/gnome-mime-application-vnd.png');}
.ficon.gnome-mime-application-wordperfect{background-image:url('mimetypes/gnome-mime-application-wordperfect.png');}
.ficon.gnome-mime-application-x-7z-compressed{background-image:url('mimetypes/gnome-mime-application-x-7z-compressed.png');}
.ficon.gnome-mime-application-x-abiword{background-image:url('mimetypes/gnome-mime-application-x-abiword.png');}
.ficon.gnome-mime-application-x-ace{background-image:url('mimetypes/gnome-mime-application-x-ace.png');}
.ficon.gnome-mime-application-x-applix-spreadsheet{background-image:url('mimetypes/gnome-mime-application-x-applix-spreadsheet.png');}
.ficon.gnome-mime-application-x-applix-word{background-image:url('mimetypes/gnome-mime-application-x-applix-word.png');}
.ficon.gnome-mime-application-x-archive{background-image:url('mimetypes/gnome-mime-application-x-archive.png');}
.ficon.gnome-mime-application-x-arj{background-image:url('mimetypes/gnome-mime-application-x-arj.png');}
.ficon.gnome-mime-application-x-bittorrent{background-image:url('mimetypes/gnome-mime-application-x-bittorrent.png');}
.ficon.gnome-mime-application-x-bzip-compressed-tar{background-image:url('mimetypes/gnome-mime-application-x-bzip-compressed-tar.png');}
.ficon.gnome-mime-application-x-bzip{background-image:url('mimetypes/gnome-mime-application-x-bzip.png');}
.ficon.gnome-mime-application-x-class-file{background-image:url('mimetypes/gnome-mime-application-x-class-file.png');}
.ficon.gnome-mime-application-x-compressed-tar{background-image:url('mimetypes/gnome-mime-application-x-compressed-tar.png');}
.ficon.gnome-mime-application-x-compress{background-image:url('mimetypes/gnome-mime-application-x-compress.png');}
.ficon.gnome-mime-application-x-cpio-compressed{background-image:url('mimetypes/gnome-mime-application-x-cpio-compressed.png');}
.ficon.gnome-mime-application-x-cpio{background-image:url('mimetypes/gnome-mime-application-x-cpio.png');}
.ficon.gnome-mime-application-x-deb{background-image:url('mimetypes/gnome-mime-application-x-deb.png');}
.ficon.gnome-mime-application-x-desktop{background-image:url('mimetypes/gnome-mime-application-x-desktop.png');}
.ficon.gnome-mime-application-x-dvi{background-image:url('mimetypes/gnome-mime-application-x-dvi.png');}
.ficon.gnome-mime-application-x-font-afm{background-image:url('mimetypes/gnome-mime-application-x-font-afm.png');}
.ficon.gnome-mime-application-x-font-bdf{background-image:url('mimetypes/gnome-mime-application-x-font-bdf.png');}
.ficon.gnome-mime-application-x-font-linux-psf{background-image:url('mimetypes/gnome-mime-application-x-font-linux-psf.png');}
.ficon.gnome-mime-application-x-font-pcf{background-image:url('mimetypes/gnome-mime-application-x-font-pcf.png');}
.ficon.gnome-mime-application-x-font-sunos-news{background-image:url('mimetypes/gnome-mime-application-x-font-sunos-news.png');}
.ficon.gnome-mime-application-x-font-ttf{background-image:url('mimetypes/gnome-mime-application-x-font-ttf.png');}
.ficon.gnome-mime-application-x-gnome-app-info{background-image:url('mimetypes/gnome-mime-application-x-gnome-app-info.png');}
.ficon.gnome-mime-application-x-gnome-theme-package{background-image:url('mimetypes/gnome-mime-application-x-gnome-theme-package.png');}
.ficon.gnome-mime-application-x-gnumeric{background-image:url('mimetypes/gnome-mime-application-x-gnumeric.png');}
.ficon.gnome-mime-application-x-gzip{background-image:url('mimetypes/gnome-mime-application-x-gzip.png');}
.ficon.gnome-mime-application-x-gzpostscript{background-image:url('mimetypes/gnome-mime-application-x-gzpostscript.png');}
.ficon.gnome-mime-application-xhtml+xml{background-image:url('mimetypes/gnome-mime-application-xhtml+xml.png');}
.ficon.gnome-mime-application-x-jar{background-image:url('mimetypes/gnome-mime-application-x-jar.png');}
.ficon.gnome-mime-application-x-java-archive{background-image:url('mimetypes/gnome-mime-application-x-java-archive.png');}
.ficon.gnome-mime-application-x-java{background-image:url('mimetypes/gnome-mime-application-x-java.png');}
.ficon.gnome-mime-application-x-javascript{background-image:url('mimetypes/gnome-mime-application-x-javascript.png');}
.ficon.gnome-mime-application-x-killustrator{background-image:url('mimetypes/gnome-mime-application-x-killustrator.png');}
.ficon.gnome-mime-application-x-kspread{background-image:url('mimetypes/gnome-mime-application-x-kspread.png');}
.ficon.gnome-mime-application-x-kword{background-image:url('mimetypes/gnome-mime-application-x-kword.png');}
.ficon.gnome-mime-application-x-lha{background-image:url('mimetypes/gnome-mime-application-x-lha.png');}
.ficon.gnome-mime-application-x-lhz{background-image:url('mimetypes/gnome-mime-application-x-lhz.png');}
.ficon.gnome-mime-application-x-lzma-compressed-tar{background-image:url('mimetypes/gnome-mime-application-x-lzma-compressed-tar.png');}
.ficon.gnome-mime-application-x-lzma{background-image:url('mimetypes/gnome-mime-application-x-lzma.png');}
.ficon.gnome-mime-application-x-lzop{background-image:url('mimetypes/gnome-mime-application-x-lzop.png');}
.ficon.gnome-mime-application-xml{background-image:url('mimetypes/gnome-mime-application-xml.png');}
.ficon.gnome-mime-application-x-perl{background-image:url('mimetypes/gnome-mime-application-x-perl.png');}
.ficon.gnome-mime-application-x-php{background-image:url('mimetypes/gnome-mime-application-x-php.png');}
.ficon.gnome-mime-application-x-python-bytecode{background-image:url('mimetypes/gnome-mime-application-x-python-bytecode.png');}
.ficon.gnome-mime-application-x-rar{background-image:url('mimetypes/gnome-mime-application-x-rar.png');}
.ficon.gnome-mime-application-x-rpm{background-image:url('mimetypes/gnome-mime-application-x-rpm.png');}
.ficon.gnome-mime-application-x-ruby{background-image:url('mimetypes/gnome-mime-application-x-ruby.png');}
.ficon.gnome-mime-application-x-scribus{background-image:url('mimetypes/gnome-mime-application-x-scribus.png');}
.ficon.gnome-mime-application-x-shar{background-image:url('mimetypes/gnome-mime-application-x-shar.png');}
.ficon.gnome-mime-application-x-shellscript{background-image:url('mimetypes/gnome-mime-application-x-shellscript.png');}
.ficon.gnome-mime-application-x-shockwave-flash{background-image:url('mimetypes/gnome-mime-application-x-shockwave-flash.png');}
.ficon.gnome-mime-application-x-stuffit{background-image:url('mimetypes/gnome-mime-application-x-stuffit.png');}
.ficon.gnome-mime-application-x-tar{background-image:url('mimetypes/gnome-mime-application-x-tar.png');}
.ficon.gnome-mime-application-x-tarz{background-image:url('mimetypes/gnome-mime-application-x-tarz.png');}
.ficon.gnome-mime-application-x-tex{background-image:url('mimetypes/gnome-mime-application-x-tex.png');}
.ficon.gnome-mime-application-x-theme{background-image:url('mimetypes/gnome-mime-application-x-theme.png');}
.ficon.gnome-mime-application-x-zip{background-image:url('mimetypes/gnome-mime-application-x-zip.png');}
.ficon.gnome-mime-application-x-zoo{background-image:url('mimetypes/gnome-mime-application-x-zoo.png');}
.ficon.gnome-mime-application-zip{background-image:url('mimetypes/gnome-mime-application-zip.png');}
.ficon.gnome-mime-audio{background-image:url('mimetypes/gnome-mime-audio.png');}
.ficon.gnome-mime-image-bmp{background-image:url('mimetypes/gnome-mime-image-bmp.png');}
.ficon.gnome-mime-image-gif{background-image:url('mimetypes/gnome-mime-image-gif.png');}
.ficon.gnome-mime-image-jpeg{background-image:url('mimetypes/gnome-mime-image-jpeg.png');}
.ficon.gnome-mime-image{background-image:url('mimetypes/gnome-mime-image.png');}
.ficon.gnome-mime-image-png{background-image:url('mimetypes/gnome-mime-image-png.png');}
.ficon.gnome-mime-image-tiff{background-image:url('mimetypes/gnome-mime-image-tiff.png');}
.ficon.gnome-mime-image-x-cmu-raster{background-image:url('mimetypes/gnome-mime-image-x-cmu-raster.png');}
.ficon.gnome-mime-image-x-portable-bitmap{background-image:url('mimetypes/gnome-mime-image-x-portable-bitmap.png');}
.ficon.gnome-mime-image-x-psd{background-image:url('mimetypes/gnome-mime-image-x-psd.png');}
.ficon.gnome-mime-image-x-xpixmap{background-image:url('mimetypes/gnome-mime-image-x-xpixmap.png');}
.ficon.gnome-mime-text-css{background-image:url('mimetypes/gnome-mime-text-css.png');}
.ficon.gnome-mime-text-html{background-image:url('mimetypes/gnome-mime-text-html.png');}
.ficon.gnome-mime-text{background-image:url('mimetypes/gnome-mime-text.png');}
.ficon.gnome-mime-text-vnd{background-image:url('mimetypes/gnome-mime-text-vnd.png');}
.ficon.gnome-mime-text-x-authors{background-image:url('mimetypes/gnome-mime-text-x-authors.png');}
.ficon.gnome-mime-text-x-changelog{background-image:url('mimetypes/gnome-mime-text-x-changelog.png');}
.ficon.gnome-mime-text-x-chdr{background-image:url('mimetypes/gnome-mime-text-x-chdr.png');}
.ficon.gnome-mime-text-x-copying{background-image:url('mimetypes/gnome-mime-text-x-copying.png');}
.ficon.gnome-mime-text-x-c{background-image:url('mimetypes/gnome-mime-text-x-c.png');}
.ficon.gnome-mime-text-x-c++{background-image:url('mimetypes/gnome-mime-text-x-c++.png');}
.ficon.gnome-mime-text-x-credits{background-image:url('mimetypes/gnome-mime-text-x-credits.png');}
.ficon.gnome-mime-text-x-csharp{background-image:url('mimetypes/gnome-mime-text-x-csharp.png');}
.ficon.gnome-mime-text-x-csh{background-image:url('mimetypes/gnome-mime-text-x-csh.png');}
.ficon.gnome-mime-text-x-c++src{background-image:url('mimetypes/gnome-mime-text-x-c++src.png');}
.ficon.gnome-mime-text-x-csrc{background-image:url('mimetypes/gnome-mime-text-x-csrc.png');}
.ficon.gnome-mime-text-x-gtkrc{background-image:url('mimetypes/gnome-mime-text-x-gtkrc.png');}
.ficon.gnome-mime-text-x-install{background-image:url('mimetypes/gnome-mime-text-x-install.png');}
.ficon.gnome-mime-text-x-java{background-image:url('mimetypes/gnome-mime-text-x-java.png');}
.ficon.gnome-mime-text-x-javascript{background-image:url('mimetypes/gnome-mime-text-x-javascript.png');}
.ficon.gnome-mime-text-x-java-source{background-image:url('mimetypes/gnome-mime-text-x-java-source.png');}
.ficon.gnome-mime-text-x-makefile{background-image:url('mimetypes/gnome-mime-text-x-makefile.png');}
.ficon.gnome-mime-text-x-python{background-image:url('mimetypes/gnome-mime-text-x-python.png');}
.ficon.gnome-mime-text-x-readme{background-image:url('mimetypes/gnome-mime-text-x-readme.png');}
.ficon.gnome-mime-text-x-sh{background-image:url('mimetypes/gnome-mime-text-x-sh.png');}
.ficon.gnome-mime-text-x-source{background-image:url('mimetypes/gnome-mime-text-x-source.png');}
.ficon.gnome-mime-text-x-vcalendar{background-image:url('mimetypes/gnome-mime-text-x-vcalendar.png');}
.ficon.gnome-mime-text-x-vcard{background-image:url('mimetypes/gnome-mime-text-x-vcard.png');}
.ficon.gnome-mime-text-x-zsh{background-image:url('mimetypes/gnome-mime-text-x-zsh.png');}
.ficon.gnome-mime-video{background-image:url('mimetypes/gnome-mime-video.png');}
.ficon.gnome-mime-video-x-ms-asf{background-image:url('mimetypes/gnome-mime-video-x-ms-asf.png');}
.ficon.gnome-mime-video-x-ms-wmv{background-image:url('mimetypes/gnome-mime-video-x-ms-wmv.png');}
.ficon.gnome-mime-x-font-afm{background-image:url('mimetypes/gnome-mime-x-font-afm.png');}
.ficon.gnome-package{background-image:url('mimetypes/gnome-package.png');}
.ficon.gtk-file{background-image:url('mimetypes/gtk-file.png');}
.ficon.html{background-image:url('mimetypes/html.png');}
.ficon.image-bmp{background-image:url('mimetypes/image-bmp.png');}
.ficon.image-gif{background-image:url('mimetypes/image-gif.png');}
.ficon.image-jpeg2000{background-image:url('mimetypes/image-jpeg2000.png');}
.ficon.image-jpeg{background-image:url('mimetypes/image-jpeg.png');}
.ficon.image{background-image:url('mimetypes/image.png');}
.ficon.image-png{background-image:url('mimetypes/image-png.png');}
.ficon.image-tiff{background-image:url('mimetypes/image-tiff.png');}
.ficon.image-x-generic{background-image:url('mimetypes/image-x-generic.png');}
.ficon.image-x-ico{background-image:url('mimetypes/image-x-ico.png');}
.ficon.image-x-portable-bitmap{background-image:url('mimetypes/image-x-portable-bitmap.png');}
.ficon.image-x-psdimage-x-psd{background-image:url('mimetypes/image-x-psdimage-x-psd.png');}
.ficon.image-x-psd{background-image:url('mimetypes/image-x-psd.png');}
.ficon.image-x-svg+xml{background-image:url('mimetypes/image-x-svg+xml.png');}
.ficon.image-x-tga{background-image:url('mimetypes/image-x-tga.png');}
.ficon.image-x-win-bitmap{background-image:url('mimetypes/image-x-win-bitmap.png');}
.ficon.jpeg{background-image:url('mimetypes/jpeg.png');}
.ficon.jpg{background-image:url('mimetypes/jpg.png');}
.ficon.libreoffice-oasis-database{background-image:url('mimetypes/libreoffice-oasis-database.png');}
.ficon.libreoffice-oasis-drawing{background-image:url('mimetypes/libreoffice-oasis-drawing.png');}
.ficon.libreoffice-oasis-drawing-template{background-image:url('mimetypes/libreoffice-oasis-drawing-template.png');}
.ficon.libreoffice-oasis-formula{background-image:url('mimetypes/libreoffice-oasis-formula.png');}
.ficon.libreoffice-oasis-master-document{background-image:url('mimetypes/libreoffice-oasis-master-document.png');}
.ficon.libreoffice-oasis-presentation{background-image:url('mimetypes/libreoffice-oasis-presentation.png');}
.ficon.libreoffice-oasis-presentation-template{background-image:url('mimetypes/libreoffice-oasis-presentation-template.png');}
.ficon.libreoffice-oasis-spreadsheet{background-image:url('mimetypes/libreoffice-oasis-spreadsheet.png');}
.ficon.libreoffice-oasis-spreadsheet-template{background-image:url('mimetypes/libreoffice-oasis-spreadsheet-template.png');}
.ficon.libreoffice-oasis-text{background-image:url('mimetypes/libreoffice-oasis-text.png');}
.ficon.libreoffice-oasis-text-template{background-image:url('mimetypes/libreoffice-oasis-text-template.png');}
.ficon.libreoffice-oasis-web-template{background-image:url('mimetypes/libreoffice-oasis-web-template.png');}
.ficon.media-audio{background-image:url('mimetypes/media-audio.png');}
.ficon.media-image{background-image:url('mimetypes/media-image.png');}
.ficon.media-video{background-image:url('mimetypes/media-video.png');}
.ficon.mime_ascii{background-image:url('mimetypes/mime_ascii.png');}
.ficon.misc{background-image:url('mimetypes/misc.png');}
.ficon.multipart-encrypted{background-image:url('mimetypes/multipart-encrypted.png');}
.ficon.office-contact{background-image:url('mimetypes/office-contact.png');}
.ficon.office-document{background-image:url('mimetypes/office-document.png');}
.ficon.office-illustration{background-image:url('mimetypes/office-illustration.png');}
.ficon.office-spreadsheet{background-image:url('mimetypes/office-spreadsheet.png');}
.ficon.openofficeorg3-database{background-image:url('mimetypes/openofficeorg3-database.png');}
.ficon.openofficeorg3-drawing{background-image:url('mimetypes/openofficeorg3-drawing.png');}
.ficon.openofficeorg3-oasis-database{background-image:url('mimetypes/openofficeorg3-oasis-database.png');}
.ficon.openofficeorg3-oasis-spreadsheet{background-image:url('mimetypes/openofficeorg3-oasis-spreadsheet.png');}
.ficon.package_editors{background-image:url('mimetypes/package_editors.png');}
.ficon.package{background-image:url('mimetypes/package.png');}
.ficon.package_wordprocessing{background-image:url('mimetypes/package_wordprocessing.png');}
.ficon.package-x-generic{background-image:url('mimetypes/package-x-generic.png');}
.ficon.plan{background-image:url('mimetypes/plan.png');}
.ficon.rar{background-image:url('mimetypes/rar.png');}
.ficon.rpm{background-image:url('mimetypes/rpm.png');}
.ficon.shellscript{background-image:url('mimetypes/shellscript.png');}
.ficon.sound{background-image:url('mimetypes/sound.png');}
.ficon.spreadsheet{background-image:url('mimetypes/spreadsheet.png');}
.ficon.stock_addressbook{background-image:url('mimetypes/stock_addressbook.png');}
.ficon.stock_calendar{background-image:url('mimetypes/stock_calendar.png');}
.ficon.stock_script{background-image:url('mimetypes/stock_script.png');}
.ficon.svg{background-image:url('mimetypes/svg.png');}
.ficon.tar{background-image:url('mimetypes/tar.png');}
.ficon.template_source{background-image:url('mimetypes/template_source.png');}
.ficon.text2{background-image:url('mimetypes/text2.png');}
.ficon.text-css{background-image:url('mimetypes/text-css.png');}
.ficon.text-enriched{background-image:url('mimetypes/text-enriched.png');}
.ficon.text-htmlh{background-image:url('mimetypes/text-htmlh.png');}
.ficon.text-html{background-image:url('mimetypes/text-html.png');}
.ficon.text-plain{background-image:url('mimetypes/text-plain.png');}
.ficon.text{background-image:url('mimetypes/text.png');}
.ficon.text-richtext{background-image:url('mimetypes/text-richtext.png');}
.ficon.text-spreadsheet{background-image:url('mimetypes/text-spreadsheet.png');}
.ficon.text-x-authors{background-image:url('mimetypes/text-x-authors.png');}
.ficon.text-x-changelog{background-image:url('mimetypes/text-x-changelog.png');}
.ficon.text-x-chdr{background-image:url('mimetypes/text-x-chdr.png');}
.ficon.text-x-copying{background-image:url('mimetypes/text-x-copying.png');}
.ficon.text-x-c{background-image:url('mimetypes/text-x-c.png');}
.ficon.text-x-c++{background-image:url('mimetypes/text-x-c++.png');}
.ficon.text-x-credits{background-image:url('mimetypes/text-x-credits.png');}
.ficon.text-x-csharp{background-image:url('mimetypes/text-x-csharp.png');}
.ficon.text-x-c++src{background-image:url('mimetypes/text-x-c++src.png');}
.ficon.text-x-csrc{background-image:url('mimetypes/text-x-csrc.png');}
.ficon.text-x-css{background-image:url('mimetypes/text-x-css.png');}
.ficon.text-x-generic{background-image:url('mimetypes/text-x-generic.png');}
.ficon.text-x-generic-template{background-image:url('mimetypes/text-x-generic-template.png');}
.ficon.text-x-gtkrc{background-image:url('mimetypes/text-x-gtkrc.png');}
.ficon.text-x-install{background-image:url('mimetypes/text-x-install.png');}
.ficon.text-x-java{background-image:url('mimetypes/text-x-java.png');}
.ficon.text-x-javascript{background-image:url('mimetypes/text-x-javascript.png');}
.ficon.text-x-java-source{background-image:url('mimetypes/text-x-java-source.png');}
.ficon.text-x-lua{background-image:url('mimetypes/text-x-lua.png');}
.ficon.text-xml{background-image:url('mimetypes/text-xml.png');}
.ficon.text-x-perl{background-image:url('mimetypes/text-x-perl.png');}
.ficon.text-x-preview{background-image:url('mimetypes/text-x-preview.png');}
.ficon.text-x-python{background-image:url('mimetypes/text-x-python.png');}
.ficon.text-x-readme{background-image:url('mimetypes/text-x-readme.png');}
.ficon.text-x-ruby{background-image:url('mimetypes/text-x-ruby.png');}
.ficon.text-x-script{background-image:url('mimetypes/text-x-script.png');}
.ficon.text-x-source{background-image:url('mimetypes/text-x-source.png');}
.ficon.text-x-sql{background-image:url('mimetypes/text-x-sql.png');}
.ficon.text-x-vala{background-image:url('mimetypes/text-x-vala.png');}
.ficon.tgz{background-image:url('mimetypes/tgz.png');}
.ficon.txt2{background-image:url('mimetypes/txt2.png');}
.ficon.txt{background-image:url('mimetypes/txt.png');}
.ficon.unknown{background-image:url('mimetypes/unknown.png');}
.ficon.vcalendar{background-image:url('mimetypes/vcalendar.png');}
.ficon.vcard{background-image:url('mimetypes/vcard.png');}
.ficon.video{background-image:url('mimetypes/video.png');}
.ficon.video-x-generic{background-image:url('mimetypes/video-x-generic.png');}
.ficon.vnd{background-image:url('mimetypes/vnd.png');}
.ficon.wordprocessing{background-image:url('mimetypes/wordprocessing.png');}
.ficon.www{background-image:url('mimetypes/www.png');}
.ficon.x-office-address-book{background-image:url('mimetypes/x-office-address-book.png');}
.ficon.x-office-calendar{background-image:url('mimetypes/x-office-calendar.png');}
.ficon.x-office-document{background-image:url('mimetypes/x-office-document.png');}
.ficon.x-office-drawing{background-image:url('mimetypes/x-office-drawing.png');}
.ficon.x-office-spreadsheet{background-image:url('mimetypes/x-office-spreadsheet.png');}
.ficon.zip{background-image:url('mimetypes/zip.png');}
